
*~
.DS_Store
.idea
.env
var
ansible/hosts
ansible/*.retry
ansible/vault_masterkey
src/ripa_archive/settings/local.py
__pycache__/
gentelella/
frontend/static/vendors/
db.sqlite3
deploy/.vault_key
deploy/*.retry
