#!/usr/bin/env bash

GUNICORN={{ project_virtualenv_dir }}/bin/gunicorn
ROOT={{ project_work_tree }}/src
PID=/var/run/gunicorn/{{ env_name }}.pid

APP={{ project_namespace }}.wsgi:application
WORKERS={{ gunicorn_workers }}
BIND={{ nginx_host }}:{{ nginx_port }}
LOG_FORMAT="%(t)s \"%(r)s %(h)s\" %(s)s %(D)s microseconds"
ERROR_LOGFILE=/var/log/gunicorn/{{ env_name }}.errors.log
ACCESS_LOGFILE=/var/log/gunicorn/{{ env_name }}.access.log

if [ -f $PID ]; then rm $PID; fi

export DJANGO_SETTINGS_MODULE="{{ DJANGO_SETTINGS_MODULE }}"
export LANG=en_US.utf8
export LANGUAGE=en_US.utf8
export LC_ALL=en_US.utf8

cd $ROOT
exec chpst -u {{ project_linux_user }}:{{ project_linux_group }} $GUNICORN --chdir $ROOT --workers=$WORKERS --bind=$BIND --pid=$PID --error-logfile $ERROR_LOGFILE --access-logfile $ACCESS_LOGFILE --access-logformat "$LOG_FORMAT" $APP
